{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <div class="about-throw">
                <img src="{% static 'main/img/products/xabout-us.jpg.pagespeed.ic.cH11OkozE4.jpeg' %}" alt="">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="first-about">
                        <h6>
                            У НАС НЕМАЄ ІСТОРІЇ. ЗА НАМИ МАЙБУТНЄ...
                        </h6>
                        <p>
                            Ідея створення бренду одягу з'явилася весною 2019. Тут Ви не знайдете якоїсь гарної історії. Ми просто вирішили зробити крутий продукт, який буде унікальним і не схожим на інші. Сподіваємося знайти однодумців в Україні та світі і найближчим часом створити щось топове з лого HUSLL INTERNATIONAL
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock %}