{% extends 'main/base.html' %}
{% load static %}

{% block category_name %}
    <div class="news-tittle">
        {{ category.name }}
    </div>

{% endblock %}

{% block content %}
    <section class="main-content">
        <div class="container">
            <div class="row">
                {% for p in products %}
                <div class="col-lg-3 col-sm-6 mb-3">
                    <div class="product-card">
                            <div class="product-thumb">
                                {% if p.photo %}
                                    <a href="{% url 'product_page' p.id %}"><img
                                    src="{{ p.photo.url }}" alt=""></a>
                                {% else %}
                                    <a href="{% url 'product_page' p.id %}"><img
                                    src="{% static 'main/img/products/no_photo.png' %}" alt=""></a>
                                {% endif %}

                        </div>
                        <div class="product-details">
                            <h4><a href="{% url 'product_page' p.id %}">{{ p.name }}</a></h4>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">
                                    {% if p.discount_price%}
                                        <small>{{ p.main_price }}</small></small> {{ p.discount_price }}
                                    {% else %}
                                        {{ p.main_price }}
                                    {% endif %}
                                </div>
                                <div class="product-links">
                                    <a href="#">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </a>
                                    <a href="#">
                                        <ion-icon name="heart-outline" class="wish-list"></ion-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}


