{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <section class="user-profile">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h4 class="user-title">ЗМІНИТИ ПАРОЛЬ</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="old_password" class="form-label">СТАРИЙ ПАРОЛЬ</label>
                            <input type="password" name="old_password" id="old_password" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="new_password1" class="form-label">НОВИЙ ПАРОЛЬ</label>
                            <input type="password" name="new_password1" id="new_password1" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="new_password2" class="form-label">ПІДТВЕРДІТЬ ПАРОЛЬ</label>
                            <input type="password" name="new_password2" id="new_password2" class="form-control">
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-dark">Змінити пароль</button>
                        </div>
                        <div>
                            <a href="{% url 'profile' %}">
                                <ion-icon name="return-up-back-outline"></ion-icon>
                                Назад
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}