{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <section class="delivery-section">
    <div class="container-fluid">
        <div class="row">
            <div class="delivery-title">
                <h4>ДОСТАВКА ТА ОПЛАТА</h4>
                <p>Якщо Вам потрібна додаткова інформація, зв'яжіться з нами за номером +38 066 371-22-98 і ми будемо раді Вам допомогти.</p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="delivery">
                        <h6><ion-icon name="move-outline"></ion-icon> ДОСТАВКА</h6>
                        <ul class="delivery-info">
                            <li class="second-info">
                                Доставка здійснюється транспортною компанією "Нова Пошта", термін - 1-3 дні по Україні;
                            </li>
                            <li class="second-info">
                                Після відправки замовлення Ви отримаєте SMS з номером експрес-накладної, за яким на сайті novaposhta.ua зможете відстежити своє замовлення і дізнатися точну вартість доставки;
                            </li>
                            <li class="second-info">
                                При отриманні замовлення необхідно мати при собі паспорт або водійські права;
                            </li>
                            <li class="second-info">
                                Термін зберігання посилки на пошті - 5 робочих днів. Після закінчення цього терміну посилка відправляється назад, без попереднього повідомлення одержувача.
                            </li>
                        </ul>
                    </div>
                    <div class="payment">
                        <h6><ion-icon name="journal-outline"></ion-icon> ОПЛАТА</h6>
                        <ul class="delivery-info">
                            <li class="second-info">
                                Накладним платежем при отриманні замовлення у відділенні Нової Пошти.
                            </li>
                            <li class="second-info">
                                Оплата картками VISA і MasterCard одразу на сайті.
                            </li>
                        </ul>
                    </div>
                    <div class="exchange">
                        <h6><ion-icon name="refresh-outline"></ion-icon> ПОВЕРНЕННЯ АБО ОБМІН</h6>
                        <ul class="delivery-info">
                            <p>
                                Якщо з будь-яких причин Вам не підійшло замовлення, Ви можете повернути дану покупку протягом 14 календарних днів з дня отримання товару, за умови, якщо:
                            </p>
                            <li class="second-info">
                                товар не був у використанні / вживанні;
                            </li>
                            <li class="second-info">
                                збережений товарний вигляд, ярлики, упаковка.
                            </li>
                            <p>
                                Для оформлення повернення зв’яжіться з менеджером за номером 095 637-56-23.
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock %}


