{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container-fuid">
    <div class="main-photo">
        <img src="{% static 'main/img/banner.jpg' %}" alt="">
    </div>
</div>

<div class="news-tittle">
    НОВИНКИ
</div>
<section class="main-content">
    <div class="container">
        <div class="row">
            {% for p in posts %}
            <div class="col-lg-3 col-sm-6 mb-3">
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="{{ p.get_absolute_url }}">{% if p.photo %}<img src="{{ p.photo.url }}" alt="">{% else %}<img src="{% static 'main/img/products/no_photo.png' %}" alt="">{% endif %}</a>
                    </div>
                    <div class="product-details">
                        <h4><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h4>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                {% if p.discount_price%}
                                    <small>{{ p.main_price }} грн</small></small> {{ p.discount_price }} грн
                                {% else %}
                                    {{ p.main_price }} грн
                                {% endif %}
                            </div>
                            <div class="product-links">
                                <a href="{{ p.get_absolute_url }}">
                                    <ion-icon name="cart-outline" style="font-size: 24px;"></ion-icon>
                                </a>
                                <a href="#">
                                    <ion-icon name="heart-outline" class="wish-list" style="font-size: 24px;"></ion-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
</section>

{% endblock %}
