{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <section class="user-profile">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h4 class="user-title">ОБЛІКОВИЙ ЗАПИС</h4>
                    <div class="container">
                        <div class="user-data">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="firstName">ІМ'Я</label>
                                    <input type="text" class="form-control" id="firstName" name="first_name" value="{{ user.first_name }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="lastName">ПРІЗВИЩЕ</label>
                                    <input type="text" class="form-control" id="lastName" name="last_name" value="{{ user.last_name }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email">E-MAIL</label>
                                    <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="phone">ТЕЛЕФОН</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" value="{{ user.phone }}" required>
                                </div>
                                <div class="d-grid mx-auto">
                                    <button type="submit" class="btn btn-dark">ПРОДОВЖИТИ</button>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'profile' %}">
                                        <ion-icon name="return-up-back-outline"></ion-icon>
                                        НАЗАД
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}