{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <section class="user-profile">
        <div class="container d-flex justify-content-center align-items-center ">
            <div class="col-lg-6 col-sm-6">
                <h4 class="user-title">Особистий кабінет</h4>
                <div class="user-menu">
                    <ul>
                        <li><a href="#">Змінити контактну інформацію
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </a>
                        </li>
                        <li><a href="#">Змінити пароль
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </a>
                        </li>
                        <li><a href="#">Змінити адресу
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </a>
                        </li>
                        <li><a href="#">Показати закладки
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </a>
                        </li>
                        <li><a href="{% url 'logout' %}">Вихід
                            <ion-icon name="log-out-outline"></ion-icon>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


