{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="bookmarks-title">ЗАКЛАДКИ</div>

<section class="bookmarks">
    <div class="container">
        <div class="row">
            {% if wishlist_items %}
                {% for item in wishlist_items %}
                    <div class="col-lg-3 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="{% url 'product_page' item.product_id %}">{% if item.product.photo %}
                                    <img src="{{ item.product.photo.url }}" alt="">{% else %}
                                    <img src="{% static 'main/img/products/no_photo.png' %}" alt="">{% endif %}</a>
                            </div>
                            <div class="product-details">
                                <h4><a href="{% url 'product_page' item.product_id %}">{{ item.product.name }}</a></h4>
                                <div class="product-bottom-details d-flex justify-content-between">
                                    <div class="product-price">
                                        {% if item.product.discount_price %}
                                            <small>{{ item.product.main_price }} грн</small></small>
                                            {{ item.product.discount_price }} грн
                                        {% else %}
                                            {{ item.product.main_price }} грн
                                        {% endif %}
                                    </div>
                                    <div class="product-links">
                                        <a href="{% url 'product_page' item.product_id %}"
                                           class="btn btn-outline-secondary btn-sm">Купити</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'remove_wishlist' item.id %}">Видалити</a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="mb-4 mx-auto text-center">
                            <ion-icon name="sad-outline" style="font-size: 200px;"></ion-icon>
                            <h2 class="mt-2">В закладках немає таварів :(</h2>
                            <p style="font-size: 20px; margin-top: 15px">Перейти до покупок!</p>
                            <a href="{% url 'home' %}" class="btn btn-outline-secondary">Продовжити</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}


