{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="bookmarks-title">ЗАКЛАДКИ</div>

<section class="bookmarks">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-3">
                <div class="likes-product">
                  <div class="product-thumb">
                    <a href="#"><img src="{% static 'main/img/products/29-800x1024.jpg' %}" alt=""></a>
                  </div>
                  <div class="product-details">
                    <h4><a href="#">Лонгслів Husll logo1 oversize</a></h4>
                    <div class="product-bottom-details d-flex justify-content-between">
                      <div class="product-price">
                        <small>720 грн</small></small> 570 грн
                      </div>
                      <div class="product-links">
                        <a href="#"><ion-icon name="cart-outline"></ion-icon></a>
                        <a href="#"><ion-icon name="heart-outline" class="wish-list"></ion-icon></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


